.formularz{
    border: solid 0.9px grey;
    padding: 20px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    margin-right: 200px;
    margin-bottom: 25px;
    border-radius: 4%;
    float:right;

}

input {
    
    margin:8px;
    height:30px;
}
#but{
    margin-top:20px;
    margin-left:230px;
    height:40px;
    width: 80px;
    margin-right:20px;

}

#SortByNameButton, #SortByLastNameButton {
    width:30px;
    height: 30px;
    font-size:20px;
    padding:0;
    margin:0;
    background-color: rgb(178, 226, 226);
    color:black;
    border-color:transparent;
   
}
#gender {
    height: 30px;
    margin:15px;
}
#result{
    width:200px;
    height:300px;

}
#search{

    margin-right: 5%;
    margin-left:10px;
    margin-top:10px;
}
#searchbox{
    width: 550px;
    float: left;
    margin-left: 20px;
    margin-top:10px;
    height: 37.5px;
   
    
}
#name, #lastname, #age{
    height:37.5px;
    border-radius: 4px;
    width:250px;
}

#tab {
    margin:10px;
    width: auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;

}


#changedname, #changedlast, #changedage{
    border-radius:0px;
    margin:10px;
}

