body {
    background-color: grey;
}

.form{

    border: solid 0.9px grey;
    padding: 20px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    margin-right: 100px;
    margin-bottom: 25px;
    border-radius: 4%;
    float:right;
    display: none;

}

input {
    
    margin:8px;
    height:30px;
}
#but{
    margin-top:20px;
    margin-left:230px;
    height:40px;
    width: 80px;
    margin-right:20px;

}

.saveEdited {
    color: #333;
    background-color: #fff;
    border-color: rgb(134, 132, 132);
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    
}


#SortByNameButton, #SortByLastNameButton, #SortByIdButton {
    width:30px;
    height: 30px;
    font-size:20px;
    padding:0;
    margin:0;
    background-color: rgb(178, 226, 226);
    color:black;
    border-color:transparent;
   
}
#gender {
    height: 30px;
    margin:15px;
}
#result{
    width:200px;
    height:300px;

}
#searchbox, #search{
 margin-top:10px;
}

#name, #lastname, #age{
    height:37.5px;
    border-radius: 4px;
    width:250px;
    box-shadow: none;
}

#age{
    border-width: 1px;
    border-top-color: rgb(240, 240, 240);
    border-right-color: rgba(148, 148, 148, 0.952);
    border-bottom-color: rgba(148, 148, 148, 0.952);
}

#tab {
    margin:3px;
    width: 605px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    display:none;
    background: white;
    border-radius:15px;
}


#changedname, #changedlast, #changedage{
    border-radius:0px;
    margin:10px;
}


#showTable:focus {
    box-shadow: none;
}
#pageBack{
    margin-left:490px;
}
#pageNumber{
    width:26px;
    height:26px;
}

#left{
    float:left;
    margin-left:20px;
    position: fixed;
}

#ad{
    float: right;
    margin-right:70px;
    margin-top:50px;
}